[*.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = silent

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = silent

# IDE0011: Add braces
csharp_prefer_braces = when_multiline:silent

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = warning

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = none

# CA1043: Use Integral Or String Argument For Indexers
dotnet_diagnostic.CA1043.severity = none