<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
				<codeBase version="1.0.2856.102" href="C:\Users\morga\.nuget\packages\taskparallellibrary\1.0.2856\lib\Net35\System.Threading.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
	</startup>
</configuration>
