<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtlasModTestAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AtlasModTestAdapter.Properties.Settings>
            <setting name="RemotePort" serializeAs="String">
                <value>49152</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>49153</value>
            </setting>
            <setting name="TestTransporterClass" serializeAs="String">
                <value>TestTransporter</value>
            </setting>
            <setting name="AssemblyName" serializeAs="String">
                <value>AtlasMod.TestAdapter</value>
            </setting>
            <setting name="SendReceiveTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>5</value>
            </setting>
        </AtlasModTestAdapter.Properties.Settings>
    </applicationSettings>
</configuration>